html, body {
  height: 100%; margin: 0; padding: 0;
}
#map {
  height: 60%;
  width: 35%;
  margin: 0 auto;
  border-radius: 50%;
}



table{
  border: 1px solid black;
  width:100%
}
#coordinates{
  text-align: center;
}
#south{
  float: right;
}

.buttonWrap{
  text-align: center;
}
#mapButton {
  width: 11%;
   margin:auto;
   display:block;
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   padding: 14px 28px;
   border-radius: 21px;
   color: white;
   font-size: 15px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
#mapButton:hover {
   background: #000000;
   color: #7a8cff;
   cursor: pointer;
   }
#mapButton:active {
   background: #1b435e;
   }
