html, body {
  height: 100%; margin: 0; padding: 0;
}
#map {
  height: 60%;
  width: 35%;
  margin: 0 auto;
  border-radius: 50%;
}

#table_container{
  margin:0 auto;

}

table{
  border: 1px solid black;
  float:left;
  width:50%
}
#coordinates{
  text-align: center;
}
#south{
  float: right;
}
