<script type="text/javascript">
  var southArr = <%=@southbound_arr%>;
  var northArr = <%=@northbound_arr%>;
</script>

<div> <%= @departuretime %> </div>
<div id="location"> hello</div>
<button src="" id="north"> CalTrain NorthBound </button>
<button src="" id="south"> CalTrain SouthBound </button>
<div id="map"></div>


<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&callback=initMap">
</script>

