<div id="location"> hello</div>
<div id="map"></div>

hello
<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFaifuWi-19rCAy3rrjrPeJZyJ4BM76T4&callback=initMap">
</script>
