<div id="location"> hello</div>
<button src="http://services.my511.org/Transit2.0/GetStopsForRoutes.aspx?token=58cb6407-ebd8-4d7d-894c-27da1e56e7e3&routeIDF=WestCAT~10~LOOP|BART~917" id="transit"> Click </button>
<div id="map"></div>

hello
<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFaifuWi-19rCAy3rrjrPeJZyJ4BM76T4&callback=initMap">
</script>
