<script type="text/javascript">
  var stopName = "<%=@stopname%>";
</script>


<div id="location"> hello</div>
<div>
  <% @data["RTT"]["AgencyList"]["Agency"]["RouteList"]["Route"]["RouteDirectionList"]["RouteDirection"]["StopList"]["Stop"].each do |key|%>
    <div>Stop Name: <%= zzz = key["name"]%>, Stop Code: <%= key["StopCode"]%></div>
  <% end%>
</div>
<button src="" id="transit"> CalTrain </button>
<div id="map"></div>


<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&callback=initMap">
</script>

<script type="text/javascript">
  var stopName = "<%= @stopname%>"
</script>
