<script type="text/javascript">
  var stopsArr = <%=@stop_name_arr%>;
</script>

<br>
<div id="map"></div>
<h1 style="text-align:center"> San Francisco Caltrain Departure Times </h1>
<div class="buttonWrap"
  <button src="" id="mapButton"> Show Caltrain Stops!</button>
</div>
<br>
<br>

  <table style="width:100"%>
    <tr>
      <th><h2>Station Name</h2></th>
      <th><h2>Route Direction</h2></th>
      <th><h2>Departure Time</h2></th>
    </tr>
    <!-- sort table data by stop name -->
    <%sorted_by_name = @transit.stop_name.sort_by  { |k,v| k[:name] }%>
    <% sorted_by_name.each do |stop_name|%>
    <tr>
      <td><h4><%= stop_name[:name]%></h4></td>
      <td><h4><%= stop_name[:route_direction] %></h4></td>
      <td> <% stop_name[:departures].each do |departure|%>
        <h4><%= departure%> </h4>
        <%end%>
      </td>
    </tr>
    <%end%>
  </table>



<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}&callback=initMap">
</script>

