<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/index.css">

  <!-- FAVICONS -->
  <link rel="shortcut icon" href="/img/caltrain.png">
  <link rel="apple-touch-icon" href="/img/caltrain.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/caltrain.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/caltrain.png">



  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <title>SF Departure Times</title>
</head>
<nav>
  <a id="githubLink" href="github.com/vrturo">
    <img src="/img/github.png">
    <figcaption><h4> View code/Contribute!</h4></figcaption>
  </a>
</nav>
<body>
  <%= yield %>

<script type="text/javascript" src="/js/map.js"></script>
</body>
</html>
